/* Affects entire site */

html {
    scroll-behavior: smooth; 
    height: 100%;/* This ensures that the page scrolling is smooth when the nav bar is clicked */
  }

  body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: Optima, sans-serif;
    font-size: 1.5vw;
    min-height: 100%;
}

html, body {
  width: 100%; 
  height:100%; 
  overflow:hidden;
}



  /* Video */
#video {
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  z-index: -1000; 
  overflow: hidden;
}

/* Text over the video */
.video_text {
    color: goldenrod;
    width: 100%;
    padding-top: .1vh;
    padding-bottom: 1vh;
    position:relative;
}

/* Contact Form Styling */

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Marker Felt;
}

.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: goldenrod;

}

.center {
    margin: auto;
    width: 50%;
    padding-top: 50px;
  }

/* Submit button */
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}


/* Button styling */
button {
    font-family: "Trebuchet MS", Optima; 
    letter-spacing: .3vw; 
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;  
}

/* Hover effect for buttons */
button:hover, .form-container .btn:hover{
    color: white;
    background-color: black;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
  }


/* Makes contact form button slide in from right on page load */
@keyframes movePopup {
  from {right: -40vw;}
  to {bottom: 1.75vw;}
}

/* Button used to open the contact form - fixed at the bottom of the page */
.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

/* The popup form - hidden by default */
.form-popup {
    border: 3px solid black;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

/* Submit button */
.form-container .btn {
  background-color: white;
  color: black;
  border-color: black;
  margin-bottom: 1vh;
}

/* Close button */
.fix-form-container .cancel {
  background-color: black;
  color: white;
  border-color: grey;
}

.fix-form-container {
  max-width: 49vw;
  padding: 9px;
  background-color: goldenrod;
}

.fix-form-container .cancel:hover{
  color: white;
  background-color: darkred;
  -webkit-transition-duration: 1s; 
  transition-duration: 1s;
  border-style: solid;
  border-color: white;
}	

/* Hover effect for buttons */
button:hover, .form-container .btn:hover{
  color: white;
  background-color: black;
  -webkit-transition-duration: 1s; 
  transition-duration: 1s;
  border-style: solid;
  border-color: silver;
}


/* navbar styling */
.navbar {
  overflow: hidden;
  background-color:goldenrod;
  position: fixed;
  top: 0;
  z-index: 1;
  position: fixed;
}

.navbar a {
  display: block;
  color: black;
  text-decoration: none;
  font-family: Optima, sans-serif;
  font-size: 2vw;
  text-align: left;
  position: relative;
}

/* removes white bar */
h1 {
  margin-top:0;
}